[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
flake8 = "*"
pytest-django = "*"
six = "*"
coverage = "*"
pytest-cov = "*"
sentry-sdk = {extras = ["django"], version = "*"}
django-environ = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
python-dotenv = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
furo = "*"
pyflakes = "*"
install = "*"
sphinx-copybutton = "*"
psycopg2 = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.12"
